<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - LibraryHub</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <h1>HI</h1>
    <form action="{% url 'home:login' %}" method="get">
        <button class="btn-signin">Sign in</button>
    </form>
    <br>
    <a href = "{% url'home:login'%}"><button class="btn-signin">Sign in</button></a>

</body>
